body {
  margin: 0;
  overflow-x: hidden;
}

* {
  transition-duration: 200ms;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.text-xs {
  font-size: 12px;
}

.text-lg {
  font-size: 24px;
}

.text-xl {
  font-size: 40px;
}

.text-white {
  color: white;
}

.box-equal {
  display: flex;
  align-items: center;
}

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.text-green {
  color: #6ebe4a;
}

.bg-primary {
  background-color: #0c2f4a;
}

.header {
  color: white;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .nav .logo {
  margin-right: 100px;
}

.header .nav a {
  font-size: 14px;
}

.header .nav a:hover {
  color: #6ebe4a;
}

.hamburger {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid white;
  font-size: 8px;
  flex-direction: column;
  font-weight: 700;
}

.header .container {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.banner {
  margin-top: 80px;
}

.banner .container {
  padding: 100px 0;
}

.banner h2 {
  margin: 0;
  font-size: 100px;
  line-height: 80px;
}

.banner .order-btn:hover {
  background-color: white;
  color: black;
}

.banner .order-btn {
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9999px;
}

.order-btn span {
  border: 2px solid white;
  border-right: 0;
  padding: 10px 14px;
  margin-left: 20px;
  border-radius: 9999px;
}

.slider {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.slider h2 {
  font-size: 40px;
}

.slider-header {
  margin-bottom: 40px;
}

.slider-header a {
  text-decoration: underline;
}

.slider .decoration,
.inspiration .decoration,
.inspiration .decoration2 {
  position: absolute;
}

.slider .decoration {
  top: -100px;
  right: -100px;
}

.inspiration .decoration {
  top: -100px;
  left: -100px;
}

.inspiration .decoration2 {
  bottom: -100px;
  right: -100px;
}

.slider .decoration p,
.inspiration .decoration p,
.inspiration .decoration2 p {
  font-size: 50px;
  font-weight: 700;
  line-height: 0;
  opacity: 10%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.slider-body {
  display: flex;
  justify-content: center;
  overflow: scroll;
  margin: 0 auto;
  width: 1200px;
}

.slider .card {
  margin: 20px;
  background-color: #f3fafd;
  box-shadow: 0 5px 5px lightgray;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider .card img {
  height: 200px;
  margin-bottom: 20px;
}

.slider .card .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 10px;
}

.slider .card .desc {
  font-size: 12px;
}

.slider .card a {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 16px;
}

.slider .card a span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #6ebe4a;
}

.inspiration {
  position: relative;
}

.inspiration h2 {
  line-height: 40px;
  margin-bottom: 20px;
}

.inspiration-container {
  margin-top: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.inspiration .card {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inspiration .card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.inspiration .card .categories {
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.inspiration .card .categories p {
  border-radius: 9999px;
  background-color: rgb(255, 255, 255, 0.3);
  font-size: 12px;
  padding: 1px 20px;
  margin: 4px;
  font-weight: 700;
}

.inspiration .card a {
  color: white;
  font-size: 12px;
  font-weight: 700;
  gap: 10px;
}

.inspiration .card a span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid white;
}

.inspiration .card img {
  height: 120px;
  margin-top: 20px;
}

.inspiration .card {
  position: relative;
  z-index: 1;
}
